footer {
  /* background-color: #333; */
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.svg {
  height: 20px;
  width: 20px;
}

.icons {
  padding: 50px;
  color: white;
  font-size: 30px;
}

@media (max-width: 768px) {
  .icons {
    padding: 35px;
    color: white;
    font-size: 20px;
  }
}
